%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"} 
	.header
	.content
		.rHeading
			%h1= "Add a recipe"
		.rAdd
			%h2= "form"
		%form{:action => "/add", :method => "post"}
			%input{:type => "text", :name => "name"}
			%input{:type => "textarea", :name => "ingredients"}
			%input{:type => "textarea", :name => "description"}
			%input{:type => "submit", :value => "Add"}
	.footer

