%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"} 
	#content
		#cHeading
			%h1= "List of Recipes" 
		#recipes
			%ul
				- @recipes.each do |recipe|
					%li
						%a{:href => "/edit/#{recipe}"}
							= recipe
