%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"} 
	.header
	.content
		.lHeading
			%h1= "List of Recipes" 
		.lRecipes
			%ul
				- @recipes.each do |recipe|
					%li
						%a{:href => "/edit/#{recipe id}"}
							= #{recipe name}
	.footer							

